<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApp6.Properties.Settings.bdregistrorifConnectionString" connectionString="server=localhost;user id=root;database=bdregistrorif;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
    <add name="WindowsFormsApp6.Properties.Settings.bdregistrorifConnectionString1" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=bdregistrorif" providerName="MySql.Data.MySqlClient" />
    <add name="WindowsFormsApp6.Properties.Settings.TestConnectionString" connectionString="Data Source=BERNISTATION-PC;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp6.Properties.Settings.bdregistrorifConnectionString2" connectionString="server=localhost;user id=root;password=admin;database=bdregistrorif;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="k1" value="server=10.1.110.112; Uid=monty; Password=berninet2013; Database=sim_verforms; Port=3306" />
	  <!--<add key="k1" value="server=localhost; Uid=monty; Password=berninet2013; Database=sim_verforms; Port=3306"/>-->
  </appSettings>
  
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.9.0" newVersion="3.21.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>